robeen-tooltip .tooltip  {
  position: absolute;
  padding: 8px;
  opacity: 0;
  background-color: rgba(66, 66, 66, 0.95);
  font: 0.85rem sans-serif;
  color: #fff;
  border-radius: 1px;
  pointer-events: none;
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  text-align: center;
}

robeen-tooltip .tooltip-title  {
  font-size: 1rem;
  padding: 8px 0;
}

robeen-tooltip .tooltip-data-row {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
}
robeen-tooltip .tooltip-data-title  {
  font-weight: bold;
  padding-bottom: 8px;
}

robeen-tooltip .error-info {
  color: tomato;
}


